<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.AddressMapper">

<resultMap type="com.example.demo.bean.Address" id="ResultAD">
<result column="A_ID" property="id" jdbcType="INTEGER"/>
<result column="A_ADDRESS" property="address" jdbcType="VARCHAR"/>
</resultMap> 


 <insert id="add" parameterType="com.example.demo.bean.Address">
INSERT INTO t_address (`a_id`, `a_address`) 
VALUES
  (#{id}, #{address}); 

</insert>

<delete id="delete" parameterType="int">
DELETE 
FROM t_address 
WHERE `a_id` = #{id} ;
</delete>

<delete id="DeleteAllById" parameterType="List">
DELETE 
FROM
  `test`.`t_address` 
WHERE `a_id` in  
<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
   #{item.id}
</foreach>
  
</delete>

<update id="update" parameterType="com.example.demo.bean.Address">
UPDATE 
  t_address 
SET
  `a_id` = #{id},
  `a_address` = #{address} 
WHERE `a_id` = #{id} ;
</update>

 <select id="Findbyid" parameterType="int" resultMap="ResultAD">
SELECT 
  `a_id`,
  `a_address` 
FROM
  `test`.`t_address` 
  WHERE `a_id` = #{id} ;
</select> 

</mapper>