<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.StudentMapper">

<resultMap type="com.example.demo.bean.Student" id="ResultST">
<result column="S_ID" property="id" jdbcType="INTEGER"/>
<result column="S_NAME" property="name" jdbcType="VARCHAR"/>
<result column="AGE" property="age" jdbcType="INTEGER"/>
<association property="address" column="A_ID" select="com.example.demo.mapper.AddressMapper.Findbyid"/>

</resultMap> 

<resultMap type="com.example.demo.bean.Student" id="ResultSTS">
<result column="S_ID" property="id" jdbcType="INTEGER"/>
<result column="S_NAME" property="name" jdbcType="VARCHAR"/>
<result column="AGE" property="age" jdbcType="INTEGER"/>
<association property="address" column="A_ID" select="com.example.demo.mapper.AddressMapper.Findbyid"/>
<association property="classroom" column="C_ID" select="com.example.demo.mapper.ClassMapper.Findbyid"></association>
</resultMap> 


 <insert id="add" parameterType="com.example.demo.bean.Student">
INSERT INTO `test`.`t_student` (
  `s_id`,
  `s_name`,
 
  `a_id`,
  `age`
) 
VALUES
  (
    #{id},
    #{name},
    #{address.id},
    #{age}
  ) ;
</insert>

<delete id="delete" parameterType="int">
DELETE 
FROM t_student 
WHERE `s_id` = #{id} ;
</delete>

<update id="update" parameterType="com.example.demo.bean.Student">
UPDATE 
  t_student 
SET
  `s_id` = #{id},
  `s_name` = #{name},
   `age` = #{age} 
WHERE `s_id` = #{id} ;
</update>

 <select id="FindStudent" parameterType="int" resultMap="ResultST">
 SELECT 
  `s_id`,
  `s_name`,
  `age`,
  `a_id`
  
FROM
  `test`.`t_student` 
  WHERE `s_id` = #{id} ;

</select> 



 <select id="FindStudentByCid" parameterType="int" resultMap="ResultST" >
 SELECT 
  `s_id`,
  `s_name`,
  `age`,
  `a_id`
  
FROM
  `test`.`t_student` 
  WHERE `c_id` = #{id} ;

</select>  

<select id="FindStudentByAgeOrName" parameterType="com.example.demo.bean.Student" resultMap="ResultSTS">
SELECT 
  `s_id`,
  `s_name`,
  `c_id`,
  `a_id`,
  `age` 
FROM
  `test`.`t_student` 
  where 1=1
  <if test="name!=null">
  and `s_name` like #{name}
  </if>
  <if test="age!=null">
  or age= #{age}
  </if>
    
</select>


</mapper>